

.shop {
    border: 1px solid black;
    background-color: green;
    height: 500px;
    width: 300px;
}
.info {
    border: 1px solid black;
    background-color: aqua;
    height: 100px;
    width: 300px;
    margin-bottom: 2rem;
    
}
