/*general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
}

/*header*/
.navbar {
    height: 4rem; 
	background-color: #FF6900; 
}
.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
    color: white;
}
.navbar .container > * {
	display: flex;
	align-items: center;
    
}
li {
    list-style: none;
    margin-right: 0.3rem;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.header-list {
    display: flex;
    flex-direction: row;
}
i {
    margin-right: 0.3rem;
    cursor: pointer;
}
.logo {
    background-image: url("../img/boolean-logo.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1.3rem;
    width: 10%;
    
}

/*main*/

main {
    margin-top: 2rem;
    max-width: 1000px;
    margin-left: 11rem;
}

.shop1 {
    background-image: url("../img/1.webp");
    background-size: cover;
}
.shop2 {
    background-image: url("../img/2.webp");
    background-size: cover;
}
.shop3 {
    background-image: url("../img/3.webp");
    background-size: cover;
}
.shop4 {
    background-image: url("../img/4.webp");
    background-size: cover;
}
.shop5 {
    background-image: url("../img/5.webp");
    background-size: cover;
}
.shop6 {
    background-image: url("../img/6.webp");
    background-size: cover;
}
.img {
    height: 500px;
    width: 300px;
    position: relative;
}
.row {
    display: flex;
    flex-direction: row;
}
.info {
    margin-bottom: 2rem;
}
.prezzo {
    color: red;
}
s {
    color: black;
}
.sale {
    border: 1px solid red;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 2rem;
    padding-inline: 0.5rem;
    color: white;
}
.sus {
    border: 1px solid green;
    background-color: green;
    position: absolute;
    color: white;
    padding-inline: 0.5rem;
    left: 3.2rem;
    bottom: 2rem;
}
.sus.sus2 {
    left: 0;
}
.square {
    border: 1px solid white;
    background-color: white;
    position: absolute;
    padding: 0.5rem 0.5rem;
    right: 0;
    top: 0.5rem;
}
    
/*footer*/

.footbar {
    height: 5rem; 
	background-color: #1A1A1A; 
    padding-top: 1rem;
}

.footbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
    color: white;
}
i {
    margin-top: 0.5rem;
}
.header-list {
    margin-top: 0.5rem;
}
   