/*general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
}
/*header*/

.navbar {
    height: 4rem; 
	background-color: #FF6900; 
}
.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
    color: white;
}
.navbar .container > * {
	display: flex;
	align-items: center;
    
}
li {
    list-style: none;
    margin-right: 0.3rem;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.header-list {
    display: flex;
    flex-direction: row;
}
i {
    margin-right: 0.3rem;
    cursor: pointer;
}

/*main*/

main {
    margin-top: 2rem;
}
.row {
    display: flex;
    flex-direction: row;
}

/*footer*/

.footbar {
    height: 5rem; 
	background-color: #1A1A1A; 
    padding-top: 1rem;
}

.footbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
    color: white;
}
i {
    margin-top: 0.5rem;
}
.header-list {
    margin-top: 0.5rem;
}
   